<h2 class="center separator-blank">Nos annonces</h2>

<div class="listeAnnonces2">
  <% @users.each do |user| %>
    <div class="annonce2">
      <div class="img-annonce"><a href="/users/<%= user.id %>"><%= image_tag(user.avatar.url(:medium)) %></a></div>
      <div class="text-annonce">
        <div class="annonce-name-user">
          <div><p><%= user.nom %> <%= user.prenom %></p></div>
          <div><p><%= user.adresse %> <%= user.cp %></p></div>
        </div>
        <div class="annonce-description">
          <p><%= user.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="pagination-annonce">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
