<p id="notice"><%= notice %></p>

<div class="profil">
  <div class="page-profil">
    <h1>Fiche de <%= @user.prenom %> <%= @user.nom%></h1>
  </div>
  <div class=" affiche-profil">
    <div class="image-profil">
      <%= image_tag(@user.avatar.url(:medium)) %>
    </div>
    <div class="well">
      <!-- <img src="http://lorempixel.com/200/200/people" alt="people" class="img-circle"> -->
      <h2><%= @user.prenom %> <%= @user.nom %></h2>
      <!-- <h4><i class="glyphicon glyphicon-envelope"></i> <%#= @annonceur.email %></h4> -->
      <h4><i class="glyphicon glyphicon-phone"></i> <%= @user.telephone %></h4>
      <h4>
        <i class="glyphicon glyphicon-home"></i> <%= @user.adresse %>
        <br>
        <span><%= @user.cp %></span>
      </h4>
      <h4><i class="glyphicon glyphicon-user"></i> <%= @user.situation %></h4>
      <h4><i class="glyphicon glyphicon-road"></i> <%= @user.rayonIntervention %> km</h4>
    </div>
  </div>

  <div class="profil-description">
    <h2>Description</h2>
    <p><%= @user.description %></p>
  </div>
  <a href="/users">Retour</a>
</div>
