<%= form_for(@panne) do |f| %>
  <% if @panne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panne.errors.count, "error") %> prohibited this panne from being saved:</h2>

      <ul>
      <% @panne.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
