<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-sclale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <title>Réparation de smartphones</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav">
      <div class="items-nav">
        <h2><a href="/">LeBonReparateur</a></h2>
        <ul>
          <li><a href="/users">Nos annonces</a></li>
          <% if user_signed_in? %>
          <li><a href="/users/edit">Déposer votre annonce</a></li>
          <% else %>
          <li><a href="/users/edit">Déposer votre annonce</a></li>
          <% end %>
        </ul>
        <ul>
          <% if user_signed_in? %>
      			<li><a href=""><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></a></li>
      		<% else %>
      			<li><a href=""><%= link_to 'Se connecter', new_user_session_path%></a></li>
            <li><a href="/users/sign_up">S'inscrire</a></li>
      		<% end %>
        </ul>

        <%= simple_form_for :users, url: users_path,
        								method: :get,
        								html: {class: 'form-inline text-right'} do |f| %>
        	<div class="form-group">
        		<div class="input-group">
        			<%= f.input_field :search, label: false, placeholder: 'Rechercher', class:'form-control', value: @search_value %>
        		</div>
        	</div>
        <% end %>

      </div>
    </div>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>
