<%= image_tag("home.jpg", :alt => "home", :class => "image-home") %>

<div id="fixed-home">
  <% if user_signed_in? %>
			Connecté en tant que <%= current_user.email %> -
      <%= link_to current_user.email, edit_user_registration_path %>
      <a href="/users/edit">Modifier mon compte</a>
			<%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to 'Se connecter', new_user_session_path%>
    <% end %>
  <div class="home">
    <h1 class="h1-home">Réparation de smartphones</h1>
    <div class="menu-home">
      <div class="item-home">
        <a href="/users/sign_in">Me connecter</a>
      </div>
      <div class="item-home">
        <a href="/users/sign_up">M'inscrire</a>
      </div>
    </div>
  </div>
</div>
