<p id="notice"><%= notice %></p>

<h1>Listing Reparations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reparations.each do |reparation| %>
      <tr>
        <td><%= reparation.name %></td>
        <td><%= reparation.prix %></td>
        <td><%= link_to 'Show', reparation %></td>
        <td><%= link_to 'Edit', edit_reparation_path(reparation) %></td>
        <td><%= link_to 'Destroy', reparation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reparation', new_reparation_path %>
