<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reparation.name %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @reparation.prix %>
</p>

<%= link_to 'Edit', edit_reparation_path(@reparation) %> |
<%= link_to 'Back', reparations_path %>
