<%= form_for(@annonceur) do |f| %>
  <% if @annonceur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annonceur.errors.count, "error") %> prohibited this annonceur from being saved:</h2>

      <ul>
      <% @annonceur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :nom %></label>
      <div class="col-sm-10">
        <%= f.text_field :nom , class: 'form-control', placeholder: 'Nom'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :prenom %></label>
      <div class="col-sm-10">
        <%= f.text_field :prenom , class: 'form-control', placeholder: 'Prenom'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :email %></label>
      <div class="col-sm-10">
        <%= f.text_field :email , class: 'form-control', placeholder: 'Email'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :password %></label>
      <div class="col-sm-10">
        <%= f.text_field :password , class: 'form-control', placeholder: 'Mot de passe'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :cp %></label>
      <div class="col-sm-10">
        <%= f.text_field :cp , class: 'form-control', placeholder: 'Code postal'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :adresse %></label>
      <div class="col-sm-10">
        <%= f.text_field :adresse , class: 'form-control', placeholder: 'Adresse'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :telephone %></label>
      <div class="col-sm-10">
        <%= f.text_field :telephone , class: 'form-control', placeholder: 'Téléphone'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :situation %></label>
      <div class="col-sm-10">
        <%= f.text_field :situation , class: 'form-control', placeholder: 'Situation'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :rayonIntervention %></label>
      <div class="col-sm-10">
        <%= f.text_field :rayonIntervention , class: 'form-control', placeholder: 'Rayon d\'intervention'%>
      </div>
    </div>

    <%= link_to f.submit, class: 'btn btn-success pull-right' %>

  </form>
  
<% end %>
